html {
  font-size: 120%;
}

code {
  color: black;
}

.container {
  padding: 3em;
}

header {
  border-bottom: 5px solid #eee;
}

section {
  margin-bottom: 20px;
  margin-top: 20px;
}

address {
  text-align: right;
}

aside {
}

.projects {
  font-size: 100%;
}